In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd',
'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']

In [10]:
pd.read_csv('examples/ex2.csv', names=names,
index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!cat examples/csv_mindex.csv
key1,key2,value1,value2

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

NameError: name 'key1' is not defined

In [ ]:
parsed = pd.read_csv('examples/csv_mindex.csv',
   ....:                      index_col=['key1', 'key2'])

In [ ]:
parsed

In [ ]:
list(open('examples/ex3.txt'))

In [ ]:
result = pd.read_table('examples/ex3.txt', sep='\s+')

In [ ]:
result

In [ ]:
 !cat examples/ex4.csv

In [ ]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2,3])

In [ ]:
!cat examples/ex5.csv

In [ ]:
result = pd.read_csv('examples/ex5.csv')

In [ ]:
result

In [ ]:
pd.isnull(result)

In [ ]:
result = pd.read_csv('examples/ex5.csv')

In [ ]:
 result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']} #传递参数需要指定参数。参数位置的值 被替换为nan

In [ ]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
result = pd.read_csv('examples/ex6.csv')

In [ ]:
result

In [ ]:
pd.read_csv('examples/ex6.csv', nrows=5)

In [ ]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [ ]:
chunker

In [ ]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [ ]:
tot[:10]

In [ ]:
data = pd.read_csv('examples/ex5.csv')

In [ ]:
 data

In [ ]:
data.to_csv('examples/out.csv')

In [ ]:
cat examples/out.csv

In [ ]:
import sys

In [ ]:
data.to_csv(sys.stdout, sep='|')

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

In [ ]:
 data.to_csv(sys.stdout, index=False, header=False)

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b',
'c'])

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)

In [ ]:
ts = pd.Series(np.arange(7), index=dates)

In [ ]:
ts.to_csv('examples/tseries.csv')

In [ ]:
!cat examples/tseries.csv

In [ ]:
!cat examples/ex7.csv

In [ ]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [ ]:
 for line in reader:
   ....:     print(line)

In [ ]:
 with open('examples/ex7.csv') as f:
   ....:     lines = list(csv.reader(f))

In [ ]:
header, values = lines[0], lines[1:]

In [ ]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [ ]:
 data_dict

In [ ]:
import json

In [ ]:

obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
} """

In [ ]:
result = json.loads(obj)

In [ ]:
result

In [ ]:
asjson = json.dumps(result)

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name',
'age'])
#如何将(一个或一组)JSON 对象转换为 DataFrame 或其他便于分析的数据结构 就由你决定了。
#最简单方便的方式是:向 DataFrame 构造器传入一个字典的列 表(就是原先的 JSON 对象)，并选取数据字段的子集:

In [ ]:
siblings

In [ ]:
!cat examples/example.json

In [ ]:
data = pd.read_json('examples/example.json')#pandas.read_json 可以自动将特别格式的 JSON 数据集转换为 Series 或 DataFrame

In [ ]:
data

In [ ]:
print(data.to_json())

In [ ]:
print(data.to_json(orient='records'))

In [ ]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')#将 HTML 文件中的表格解析为 DataFrame 对象

In [ ]:
 len(tables)

In [ ]:
failures = tables[0]

In [ ]:
failures.head()

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [ ]:
close_timestamps.dt.year.value_counts()   
#这里，我们可以做一些数据清洗和分析(后面章节会进一步讲解)，比如计算
#按年份计算倒闭的银行数:

In [ ]:
from lxml import objectify

In [ ]:
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
data.append(el_data)

In [ ]:
perf = pd.DataFrame(data)

In [ ]:
perf.head()

In [ ]:
frame = pd.read_csv('examples/ex1.csv')

In [ ]:
frame

In [ ]:
frame.to_pickle('examples/frame_pickle')
#pickle 序列化。pandas 对象都有一个用于将数据以 pickle 格式保存到磁盘上 的 to_pickle 方法:

In [ ]:
pd.read_pickle('examples/frame_pickle')

In [ ]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [ ]:
store = pd.HDFStore('mydata.h5')

In [ ]:
store['obj1'] = frame

In [ ]:
store['obj1_col'] = frame['a']

In [ ]:
 store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2', frame, format='table')

In [ ]:
store.select('obj2', where=['index >= 10 and index <= 15'])

In [ ]:
#要使用 ExcelFile，通过传递 xls 或 xlsx 路径创建一个实例:
#存储在表单中的数据可以 read_excel 读取到 DataFrame
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [13]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [14]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#将panda数据写入为excel格式
#你必须首先创建一个 ExcelWriter， 然后使用 pandas 对象的 to_excel 方法将数据写入到其中:

In [ ]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [ ]:
frame.to_excel(writer, 'Sheet1')

In [ ]:
 writer.save()

In [15]:
#方法二 你还可以不使用 ExcelWriter，而是传递文件的路径到 to_excel:
frame.to_excel('examples/ex2.xlsx')

In [16]:
dd=pd.read_excel('examples/ex2.xlsx', 'Sheet1')

In [17]:
dd

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
import requests

In [23]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [24]:
resp = requests.get(url)

In [25]:
resp

In [26]:
 data = resp.json()

In [46]:
 data[0]['title']

'See also for DataFrame.iterrows() should say Dataframe.x() instead of just .x()'

In [47]:
issues = pd.DataFrame(data, columns=['number', 'title',
   .....:                                      'labels', 'state'])

In [48]:
issues

,number,title,labels,state
0,27862,See also for DataFrame.iterrows() should say D...,[],open
1,27861,"Standardize use of ""Iterate"" and ""Iterator"" in...",[],open
2,27860,"Use of ""Yields"" vs ""Returns"" for documentation...",[],open
3,27859,"Documentation says Series.items(), Series.iter...",[],open
4,27858,BUG: DataFrameGroupBy.transform does not work ...,[],open
5,27857,Pandas groupby transform count gives empty dat...,[],open
6,27855,BUG: add back check for MultiIndex case and ta...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
7,27853,Error dividing Dataframe by Series but only wh...,[],open
8,27852,DOC:add append example in to_excel documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
9,27851,DOC: Add CoC to the README,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
10,27850,read_excel throws XLRD error when used in a fo...,[],open
11,27849,CLN: op-->opname in Categorical _cat_compare_op,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
12,27848,Series.str.extract not return pandas.Index object,[],open
13,27847,TST: parametrize arithmetic tests,[],open
14,27846,BUG: boxplot does not work when data has datet...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
15,27844,DOC: GroupBy.head()/tail() documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
16,27841,ValueError when casting 1d data to MultiIndex ...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
17,27840,PERF: Break reference cycle for all Index types,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
18,27838,Parametrize JSON tests,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
19,27837,API: what should a 2D indexing operation into ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
20,27831,EA: DatetimelikeArray.view should always retur...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
21,27830,CLN: match standardized dispatch logic in Inte...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
22,27829,BUG: IntNA division can alter array inplace,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,27827,BUG: Fixed groupby quantile for listlike q,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
24,27826,BUG: Fix groupby quantile segfault,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
25,27825,Dispatch pd.is_na for scalar extension value,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
26,27824,Document DataFrame._constructor_sliced-like pr...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
27,27820,DOC: clarify that read_parquet accepts a direc...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,27817,Conversion from Arrow to datetime not working ...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
29,27815,REF: implement should_extension_dispatch,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open

In [49]:
import sqlite3

In [50]:
query = """
   .....: CREATE TABLE test
   .....: (a VARCHAR(20), b VARCHAR(20),
   .....:  c REAL,        d INTEGER
   .....: );"""

In [51]:
 con = sqlite3.connect('mydata.sqlite')

In [52]:
con.execute(query)

In [53]:
con.commit()

In [54]:
data = [('Atlanta', 'Georgia', 1.25, 6),
   .....:         ('Tallahassee', 'Florida', 2.6, 3),
   .....:         ('Sacramento', 'California', 1.7, 5)]

In [55]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [56]:
con.executemany(stmt, data)

In [57]:
cursor = con.execute('select * from test')

In [58]:
rows = cursor.fetchall()

In [59]:
 rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [60]:
 cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [61]:
pd.DataFrame(rows, columns=[x[0] for x in
cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [63]:
import sqlalchemy as sqla

In [64]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [65]:
pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []